# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
BushidoBear/Assets/Scripts/CharacterActionEventData.cs
BushidoBear/Assets/Scripts/CharacterActionEventData.cs.meta
BushidoBear/Assets/Scripts/Controllers/SimpleAIController.cs
BushidoBear/Assets/Scripts/Controllers/SimpleAIController.cs.meta
BushidoBear/Assets/Scripts/Controllers/JudoJaguarController.cs.meta
BushidoBear/Assets/Scripts/Controllers/KravMagaMacawController.cs.meta
BushidoBear/Assets/Scripts/Controllers/NunchuckWoodchuckController.cs.meta
